<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <balikobot>
            <general>
                <enabled>0</enabled>
                <cron_enabled>0</cron_enabled>
            </general>
        </balikobot>
    </default>
</config>
