<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Beecom_Balikobot" setup_version="1.0.0">
        <sequence>
            <module name="Beecom_Core"/>
            <module name="Beecom_Material"/>
            <module name="Beecom_MatrixRate"/>
            <module name="ScandiPWA_QuoteGraphQl" />
        </sequence>
    </module>
</config>
