<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="shipment_balikobot" frontName="beecom_balikobot">
            <module name="Beecom_Balikobot" before="Magento_Backend" />
        </route>
    </router>
</config>